* {
  font-family: Arial;
}

nav {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 4px;
  background: #4682b4;
  display: flex;
  justify-content: space-between;
}

nav a {
  padding: 4px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: #00bfff;
}
