* {
  font-family: Arial;
}

nav {
  padding: 7px 4px;
  background: #4682b4;
  display: flex;
  justify-content: space-between;
}

nav a {
  padding: 4px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: #00bfff;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.homeImg {
  width: 100%;
  height: 100vh;
}

.homeTitle {
  letter-spacing: 2px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title {
  display: block;
  font-family: "Pacifico", serif;
  font-size: 48px;
  letter-spacing: 4px;
}

.homeText {
  line-height: 30px;
  text-align: justify;
  font-size: 20px;
  color: rgb(39, 23, 184);
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homeBtn {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  font-size: 20px;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 15px;
  background: #4682b4;
}

.btn:hover {
  cursor: pointer;
}

#aboutTitle {
  font-weight: bolder;
  font-size: 28px;
  text-align: center;
}

body {
  margin: 0;
}

main {
  padding: 10px;
}

.bookBtn {
  color: white;
  text-decoration: none;
}
