body {
  background: rgb(5, 80, 150);
}

h1 {
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bolder;
}

li {
  padding-top: 20px;
  color: white;
  font-size: 20px;
  text-align: justify;
  width: 80%;
  margin: auto;
  line-height: 30px;
}
